* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}
.todo-app {
    margin: 2rem auto 0 auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

